<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
    <div id="head">
        <h1><img src="https://cdn.pixabay.com/photo/2016/12/17/14/33/wave-1913559__340.jpg"
            height="5%" width="100%"> </h1>
    </div>
    <form class="search-form">
        <div class="form-group">
            <input type="text" class="form-control " placeholder="search username" [(ngModel)]="username"
                name="username" (keyup)="findProfile()">
        </div>
    </form>

    <main>
      <div class="container">
        <section class="mt-5 wow fadeIn">  
          <div class="row">
         <div class="col-md-6 mb-4">
              <img src='{{profile.avatar_url}}' class="img-fluid z-depth-1-half" alt="">
            </div>

            <div class="col-md-6 mb-4">

              <div class="card">
                  <div class="card-body">
                    <h4 class="card-title animated fadeInRight" ><p class="text-info"> </p></h4>
                    <div *ngIf="profile"> <h3> <strong>Result</strong>  <i class="fas fa-spinner animated rotateIn infinite "></i></h3></div>
                    <hr>
                   
                    <ul class=" card-text list-group list-group-flush">
                        <li class="list-group-item animated fadeInRight"> <i class="fas fa-user-friends"></i> <strong>Followers</strong>: {{profile.followers}}</li>
              
                        <li class="list-group-item animated fadeInRight"> <i class="fas fa-users f0c0"></i> <strong>Following</strong>: {{profile.following}}</li>
              
                        <li class="list-group-item animated fadeInRight"> <i class="fas fa-folder-open"></i> <strong>No of public repos</strong>: {{profile.public_repos}}</li>
              
                        <li class="list-group-item animated fadeInRight"> <i class="far fa-clock pr-1"></i> <strong>Joined on</strong>: {{profile.created_at|date}}</li>
                      </ul>
                  </div>


        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
    
            <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-user-friends"></i> {{profile.followers}}</a></li>
    
            <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-users f0c0"></i> {{profile.following}}</a></li>
            
            <li class="list-inline-item"><a href="#" class="white-text"><i class="far fa-clock pr-1"></i> {{profile.created_at|date}}</a></li>
          </ul>
        </div>
      </div>

      <a target="_blank" href="{{profile.html_url}}" class="btn btn-grey btn-md">  Checkout on Github
        <i class="fas fa-fighter-jet"></i>
      </a>
    </div>      
  </div>

  </section>
  <div class="repotitle">
    <h2>Repositories</h2>
</div>
<hr>


<div class="card-columns">
    <div class="card" *ngFor="let repo of repos">

        <div class="card-body">
            <div id="name">
                <h4 id="name d-flex justify-content-between align-items-center">{{repo.name}}</h4>
            </div>
            <div id="des">
                <p class="card-textd-flex justify-content-between align-items-center">{{repo.description}}</p>
            </div>
            <p class="card-textd-flex justify-content-between align-items-center">updated on:<i
                    class="fa fa-clock-o" aria-hidden="true">{{repo.created_at | date}}</i></p>
            <a href="{{repo.html_url}}" class="text-align-center" target="_blank" class="btn btn-info">get on github</a>

           </div>
          </div>
        </div>
       </div>
     </main>
</div>

       
