  
#head h1{
  font-size: 40px;
  font-family: 'Spicy Rice', cursive;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  text-shadow:0 10px white;
  }
#head p{
    font-size: 40px;
    text-align: center;
    color: black;
    }
    #dec{
      text-align: center;
    }
  
#bio li{
      margin-top: 1%;
    }
   
.repotitle{
      text-align: center;
      font-size: 60px;
      color: #71ee4b;
      text-transform: uppercase;
    }